@import "../../app.scss";

.ordersPageCont {
    margin-left: 72px;
    padding: 16px;

    @include mobile {
        margin-left: 52px;
    }

    .btnCont {
        display: flex;
        align-items: center;
        gap: 12px;

        button {

            cursor: pointer;
            border: none;
            background-color: #f0f0f0;
            border-radius: 10px;
            padding: 4px 8px;
            display: inline-block;
            font-weight: 600;
            text-align: center;
            font-size: 16px;
            text-transform: capitalize;

        }
    }

    .orderItemsCont {
        display: flex;
        flex-direction: column;
        padding-block: 16px;
        margin-top: 12px;
        width: 100%;
        gap: 16px;

        .orderItemCont {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #f5f5f5;
            padding: 12px 16px;
            border-radius: 8px;

            &:nth-child(even) {
                background-color: rgba(250, 100, 0, 0.15);
            }

            @include mobile {
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
            }

            span {
                font-weight: 700;

                @include mobile {
                    font-weight: 500;

                    &::before {
                        font-weight: 700;
                        content: "Total Price - ";
                    }
                }
            }

            .title {
                font-weight: 700;

                @include mobile {
                    font-weight: 500;

                    &::before {
                        font-weight: 700;
                        content: "No. Of Items - ";
                    }
                }
            }

            .orderId {
                font-weight: 700;

                .title {
                    @include mobile {
                        font-weight: 500;

                        &::before {
                            font-weight: 700;
                            content: "Id - ";
                        }
                    }
                }
            }

            .imgsCont {
                display: flex;
                position: relative;
                min-height: 52px;

                .imgCont {
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    overflow: hidden;
                    position: absolute;
                    border: 2.5px solid white;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}