@import "../../app.scss";

.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 998;
    padding-top: 16px;

    .searchContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 16px;

        .filterCont {
            width: 60%;
            display: flex;
            align-items: center;
            gap: 12px;

            .filter {
                border: none;
                width: 28px;
                height: 28px;
                background-color: transparent;
                cursor: pointer;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                .tags {
                    flex-wrap: wrap;
                    gap: 12px;
                    width: 80%;
                    position: absolute;
                    background-color: white;
                    padding: 12px;
                    opacity: 0;
                    display: none;
                    top: 70%;
                    right: 0;
                    transition: transform 0.5s ease;
                    border-radius: 10px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                    .mClBtn {
                        display: none;

                        @include mobile {
                            display: block;
                        }
                    }

                    @include mobile {
                        top: 90%
                    }

                    a {
                        cursor: pointer;
                        border: none;
                        background-color: #f0f0f0;
                        border-radius: 10px;
                        padding: 4px 8px;
                        display: inline-block;
                        font-weight: 600;
                        text-align: center;
                        font-size: 12px;
                    }

                }

                @include hover {
                    &:hover>.tags {
                        display: flex;
                        opacity: 1;
                    }
                }

                .isOpen {
                    display: flex;
                    opacity: 1;
                }

            }


            .inputCont {
                padding-left: 12px;
                background-color: #f0f0f0;
                border-radius: 8px;
                display: flex;
                align-items: center;
                gap: 10px;
                overflow: hidden;
                flex: 1;

                img {
                    width: 16px;
                    opacity: .5;

                }

                input {
                    border: none;
                    background-color: transparent;
                    height: 100%;
                    padding: 12px 12px 12px 6px;
                    flex: 1;
                    outline: none;
                    border-left: 1px solid rgba(0, 0, 0, 0.1);
                    font-weight: 600;

                    &::placeholder {
                        font-size: 12px;
                        font-weight: 600;
                    }


                }

                button {
                    border: none;
                    padding: 12px;
                    color: white;
                    background-color: coral;
                    opacity: 0.85;
                    border-radius: 8px;

                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }

                    img {
                        display: none;
                    }
                }
            }
        }

        .profile {
            display: flex;
            align-items: center;
            gap: 4px;
            font-family: 'Lobster', sans-serif;

            .img {
                width: 36px;
                height: 36px;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .cart {
                width: 36px;
                height: 36px;
                margin-left: 4px;



                button {
                    border: none;
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    .item {
                        position: absolute;
                        right: -2px;
                        top: -2px;
                        background-color: #FA6400;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        aspect-ratio: 1;
                        width: clamp(12px, calc(12px + 1vw), 20px);
                        height: clamp(12px, calc(12px + 1vw), 20px);

                        p {
                            color: white;
                            font-size: 12px;
                            font-weight: 700;
                        }
                    }

                    img {
                        width: 28px;
                        object-fit: contain;
                    }
                }

                #pctbtn {
                    display: none;
                }

                #mpbtn {
                    display: none;
                }

                @include showCart {
                    #pctbtn {
                        display: flex;
                    }
                }

            }

        }

        @include mobile {
            flex-direction: column-reverse;
            gap: 12px;
            margin-bottom: 4px;

            .filterCont {
                width: 100%;

                .filter {
                    width: 20px;
                    height: 20px;
                }

                .inputCont {
                    padding-left: 8px;
                    gap: 0;

                    img {
                        display: none;
                    }

                    input {
                        border-left: none;
                    }

                    button {

                        img {
                            display: block;
                        }

                        .dtxt {
                            display: none;
                        }
                    }
                }
            }

            .profile {
                width: 100%;

                .img {
                    width: 32px;
                    height: 32px;
                    margin-left: 4px;
                }

                .cart {
                    margin-left: auto;

                    button {
                        .item {
                            top: 0;
                            right: 0;
                        }
                    }

                    #mpbtn {
                        display: flex;
                    }
                }
            }
        }
    }
}