@import "../../app.scss";

.loginCont {
    height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-left: 72px;

    @include mobile {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        background-image: url("/login.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        background: #000;
    }

    .f1 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding-block: 32px;

        @include mobile {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 16px;
            width: 90%;
            margin: 0 auto;
            border-radius: 12px;
        }

        .f2 {
            width: 60%;
            max-height: 100%;
            align-items: center;
            padding-inline: 8px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            @include mobile {
                margin-left: 42px;
                width: 100%;
                height: auto;
                padding: 16px;
            }

            .formHeader {
                margin-bottom: 20px;
                color: black;
                text-align: center;
            }

            form {
                flex-direction: column;
                display: flex;

                input[type="submit"] {
                    border: none;
                    background-color: #fa6400;
                    padding: 12px;
                    border-radius: 10px;
                    color: white;
                    font-weight: 600;
                    font-size: 16px;
                    width: 100%;
                    margin-top: 8px;
                }

                .name {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    width: 100%;
                    margin-bottom: 8px;

                    >div {
                        width: 100%;
                    }
                }

                .forBtn {
                    align-self: flex-end;
                    margin-top: 12px;

                    button {
                        background: none;
                        border: none;
                        padding: 0;
                        cursor: pointer;
                        color: #ccc;
                        text-decoration: underline;
                        font-size: 12px;

                        @include mobile {
                            color: rgba(0, 0, 0, 0.525);
                        }

                        &:hover {
                            color: #fa6400;
                            text-decoration: none;
                        }
                    }
                }
            }

            .btnCont {
                color: black;
                font-weight: 600;
                font-size: 12px;
                margin-top: 10px;
                text-align: center;

                a {
                    color: #ccc;
                    text-decoration: underline;

                    @include mobile {
                        color: black;
                    }

                    &:hover {
                        color: #fa6400;
                    }
                }
            }
        }
    }

    .imgCont {
        height: 100%;
        overflow: hidden;

        @include mobile {
            display: none; // Hide the image element on mobile
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}