@import "../../app.scss";

.inputContainer {
    position: relative;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    color: white;

    @include mobile {
        margin-bottom: 8px;
    }

    .label {
        font-size: 14px;
        font-weight: 600;

        @include mobile {
            font-size: 14px;
            padding-inline: 12px;
        }
    }

    .content {
        overflow: hidden;

        .input {
            width: 100%;
            height: 100%;
            outline: 1px solid #ccc;
            transition: border-width 0.15s ease-out;
            font-size: 16px;
            border: none;
            padding: 10px;
            font-weight: 500;
            color: black;

            &::placeholder {
                color: #959595;
                font-size: 16px;
            }

            &:focus {
                outline: 1.2px solid #fa6400;
            }
        }

        .error {
            position: absolute;
            bottom: -4px;
            right: 0;
            transform: translateY(100%);
            width: 12rem;
            color: red;
            text-align: right;
            font-size: 0.95rem;
            font-weight: 600;

            @include mobile {
                // font-size: ;
            }
        }
    }
}