@import "../../app.scss";

.inputContainer {
    position: relative;
    margin-top: 16px;
    color: white;

    @include mobile {
        margin-bottom: 8px;
    }

    .label {
        margin-left: 3px;
        font-size: 14px;
        font-weight: 600;
        color: black;

        @include mobile {
            // font-size: 14px;
        }
    }

    .content {
        .input {
            width: 100%;
            outline: 1px solid #ccc;
            background-color: #f2f2f2;
            transition: border-width 0.15s ease-out;
            font-size: 16px;
            border: none;
            padding: 10px;
            font-weight: 500;
            color: black;
            border-radius: 10px;
            margin-top: 8px;

            &::placeholder {
                color: #959595;
                font-size: 12px;
            }

            &:focus {
                outline: 1.2px solid #fa6400;
            }
        }

        .error {
            position: absolute;
            bottom: -4px;
            right: 0;
            transform: translateY(100%);
            width: 12rem;
            color: red;
            text-align: right;
            font-size: 0.95rem;
            font-weight: 600;

            @include mobile {
                // font-size: ;
            }
        }
    }
}