@import "../../app.scss";

.homeCont {
    padding-left: 84px;
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    height: 100dvh;

    @include mobile {
        padding-left: 64px;
    }

    .foodItems {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-block: 16px;

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}